body {
  background: blue;
}

img {
  margin 5em;
  padding: 10px;
}

h1 {
  font-family: lores-12, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

a {
  color: black;
  transition: color .3s;
}

a:hover {
  color: red;
}
