@media screen and (max-width: 567px) {

.maincontainer {
  box-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
}
body {
    background-color: #478eff;
}

#headercontainer {
  background-color: #478eff;
  width: 100%;
  position:-webkit-sticky;
  position:sticky;
  top:0;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  background-color: red;
  font-family: custard, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60pt;
  text-align: center;
 background-color: gray;
 line-height: 0px;
  height: 0px;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  	color: #478eff;
  	opacity: 0.8;
}

h2 {
  text-decoration: none;
  font-size: 12pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
  	color: #478eff;
  	opacity: 0.8;
}

a {
  text-decoration: none;
  font-size: 12pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  color: black;
  text-align: center;
}

.title1 {
  width: auto;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

button {
 height: 170px;
 width: 170px;
 border-radius: 5%;
 box-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
 margin: 5px;
}

.buttoncontainer {
  display: flex;
  justify-content: space-around
}

#btn1 {
background-image: url(https://cdn.glitch.com/1ad4e846-ecc8-46bb-8977-ebe054b3ef05%2Fher.jpeg?v=1620161566155);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#countdown1 {
  text-decoration: none;
  font-size: 12pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: red;
  background-color: black;
  margin-bottom: 20px;
}

#activate {
  display: none;
}

#activate a {
}

#activate.active {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
  color: #478eff;
  opacity: 0.5;
}

/* button 2 seaside styling from here*/
#btn2 {
background-image: url(https://cdn.glitch.com/1ad4e846-ecc8-46bb-8977-ebe054b3ef05%2Ffightclub.jpg?v=1620163572237);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#countdown2 {
  text-decoration: none;
  font-size: 12pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  background-color: black;
  margin-bottom: 20px;
  margin-top: -15px;
}

#activate2 {
  display: none;
}

#activate2 a {
}

#activate2.active {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
  color: #478eff;
  opacity: 0.5;
}

/* button 3 cave styling from here*/
#btn3 {
background-image: url(https://cdn.glitch.com/1ad4e846-ecc8-46bb-8977-ebe054b3ef05%2Fchungking.jpeg?v=1620163120870);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#countdown3 {
  text-decoration: none;
  font-size: 12pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: red;
  background-color: black;
}

#activate3 {
  display: none;
}

#activate3 a {
}

#activate3.active {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
  color: #478eff;
  opacity: 0.5;
}

/* forest button */
#btn4 {
background-image: url(https://cdn.glitch.com/1ad4e846-ecc8-46bb-8977-ebe054b3ef05%2Fcallme.jpg?v=1620161973473);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#countdown4 {
  text-decoration: none;
  font-size: 12pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: red;
  background-color: black;
}

#activate4 {
  display: none;
}

#activate4 a {
}

#activate4.active {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
  color: #478eff;
  opacity: 0.5;
}

/* kitchen button */
#btn5 {
background-image: url(https://cdn.glitch.com/1ad4e846-ecc8-46bb-8977-ebe054b3ef05%2Fclockwork.jpeg?v=1620164524501);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

#countdown5 {
  text-decoration: none;
  font-size: 12pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: red;
  background-color: black;
}

#activate5 {
  display: none;
}

#activate5 a {
}

#activate5.active {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
  color: #478eff;
  opacity: 0.5;
}

/* screaming crowd */
#btn6 {
background-image: url(https://cdn.glitch.com/1ad4e846-ecc8-46bb-8977-ebe054b3ef05%2Fdonniedarko.jpeg?v=1620164976167);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#countdown6 {
  text-decoration: none;
  font-size: 12pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: red;
  background-color: black;
}

#activate6 {
  display: none;
}

#activate6 a {
}

#activate6.active {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
  color: #478eff;
  opacity: 0.5;
}

/* robot */
#btn7 {
background-image: url(https://cdn.glitch.com/1ad4e846-ecc8-46bb-8977-ebe054b3ef05%2Fbluevelvet.jpeg?v=1620165079323);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#countdown7 {
  text-decoration: none;
  font-size: 12pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: red;
  background-color: black;
}

#activate7 {
  display: none;
}

#activate7 a {
}

#activate7.active {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
  color: #478eff;
  opacity: 0.5;
}

/* thunder */
#btn8 {
background-image: url(https://cdn.glitch.com/1ad4e846-ecc8-46bb-8977-ebe054b3ef05%2Fsubmarine.jpeg?v=1620165317198);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#countdown8 {
  text-decoration: none;
  font-size: 12pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: red;
  background-color: black;
}

#activate8 {
  display: none;
}

#activate8 a {
}

#activate8.active {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
  color: #478eff;
  opacity: 0.5;
}

/* jazz bar button */
#btn9 {
background-image: url(https://cdn.glitch.com/1ad4e846-ecc8-46bb-8977-ebe054b3ef05%2Fstepbrothers.png?v=1620161609157);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#countdown9 {
  text-decoration: none;
  font-size: 12pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: red;
  background-color: black;
}

#activate9 {
  display: none;
}

#activate9 a {
}

#activate9.active {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
  color: #478eff;
  opacity: 0.5;
}

/* jazz bar button */
#btn10 {
background-image: url(https://cdn.glitch.com/1ad4e846-ecc8-46bb-8977-ebe054b3ef05%2Fmeangirls.jpeg?v=1620165910445);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#countdown10 {
  text-decoration: none;
  font-size: 12pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: red;
  background-color: black;
}

#activate10 {
  display: none;
}

#activate10 a {
}

#activate10.active {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
  color: #478eff;
  opacity: 0.5;
  margin-bottom: 20px;
}
}
