@media screen and (max-width: 567px) {
body {
  background-color: #478eff;
}

h1 {
  font-family: custard, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80pt;
  text-align: center;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  	color: #478eff;
  	opacity: 0.8;
}

a {
  text-decoration: none;
  font-size: 18pt;
  font-family: input-mono, monospace;
  font-weight: 500;
  font-style: normal;
  color: black;
}

.maincontainer {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  transform: translate(-50%, -50%);
}

button {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #478eff;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  color: #478eff;
  opacity: 0.5;
}

button:hover {background-color: #478eff}

button:active {
  background-color: #478eff;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

.led-box {
  height: 50px;
  width: 25%;
  margin: 10px 0;
  float: left;
}

.led-red {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  background-color: #478eff;
  animation-name: led;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes led {
  0% {background-color: #478eff;}
  60% {background-color: lime;}
  70% {background-color: #478eff;}
  80% {background-color: lime;}
  100% {background-color: #478eff;}
}

}
