@media screen and (max-width: 480px) {
  body {
    background-color: black;
  }

  h1 {
    font-size: 12pt;
    color: white;
  }

  h2 {
    font-size: 20pt;
    color: white;
  }

  #maincontainer {
    display: flex;
    justify-content: space-between;
  }

.hyperlink1 {
  padding-left: 10px;
}

.hyperlink {
  padding-left: 10px;
}

  .container1 {
    padding: 10px;
    width: 50%;
    height: 100px;
    overflow: scroll;
    background-color: black;
    overflow: scroll;
  }

  .container2 {
    padding: 10px;
    width: 50%;
    height: 200px;
    display: flex;
    background-color: black;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }

  .container3 {
    padding: 10px;
    width: 50%;
    height: 300px;
    display: flex;
    background-color: black;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }

  .container4 {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: black;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    align-items: baseline;
  }

  .container5 {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: black;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    align-items: baseline;
  }

a {
  color: aqua;
}

  .paragraph4 {
    text-align: right;
  }

  .paragraph3 {
    text-align: center;
  }

  .paragraph1 {
    text-align: left;
  }

  .paragraph2 {
    text-align: left;
  }

  p {
    color: white;
  }

  #maincontainer3 {
    display: none;
  }

  #maincontainer4 {
    display: none;
  }

  #maincontainer5 {
    display: none;
  }

  #maincontainer6 {
    display: none;
  }

}

@media screen and (min-width: 568px) {
  body {
    background-color: white;
  }

    h1 {
      font-size: 20pt;
      color: black;
      text-align: center;
    }

    h2 {
      font-size: 12pt;
      color: black;
      text-align: right;
    }

    #maincontainer {
      display: flex;
      justify-content: space-between;
    }

    .container1 {
      display: none;
    }

    .container2 {
      display: none;
    }

    .container3 {
      display: none;
    }

    .container4 {
      display: none;
    }

    .circle {

  background-color: transparent;
   shape-outside: circle(50%);
   width: 50px;
   height: 550px;
   float: right;
   animation: nudge 1s infinite;
}

    #maincontainer3 {
      background: transparent;
      width: 300px;
      height: 200px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .paragraph6 {
      height: 10px;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @keyframes nudge {
      0%, 100% {
        shape-outside: circle(50%);
      }
      50% {
        shape-outside: circle(25%);
      }
    }

    #maincontainer4 {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      overflow: scroll;
      background-color: transparent;
      width: 35%;
      overflow: scroll;

    }

    #maincontainer5 {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      overflow: scroll;
      background-color: transparent;
      width: 35%;
      overflow: scroll;

    }

    #maincontainer6 {
    text-align: center;
    }

  .circle2 {
  background-color: transparent;
  shape-outside: circle(50%);
  width: 100px;
  height: 550px;
  float: left;
  animation: nudge 6s infinite;
}

@keyframes nudge {
  0%, 100% {
    shape-outside: circle(50%);
  }
  50% {
    shape-outside: circle(25%);
  }
}

#mainmaincontainer {
  display: flex;
  justify-content: space-between;
}



  a {
    padding: 10px;
    color: red;
  }

    .paragraph4 {
      text-align: right;
    }

    .paragraph3 {
      text-align: center;
    }

    .paragraph1 {
      text-align: left;
    }

    .paragraph2 {
      text-align: left;
    }

    p {
      color: black;
    }




  }
