body {
  background: white;
  margin: 10px;
  height: 2250px;
}

h1 {
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-style: normal;
  font-size: 50pt;
  color: red;
  text-align: center;
}

p {
  font-family: lores-12-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: red;
  font-size: 20pt;
}

h2 {
  font-family: helvetica, serif;
  font-weight: 100;
  font-style: normal;
  font-size: 12pt;
  color: red;
  text-align: left;
}

h3 {
  font-family: helvetica, serif;
  font-weight: 100;
  font-style: normal;
  font-size: 12pt;
  color: red;
  text-align: right;
}

h4 {
  font-family: helvetica, serif;
  font-weight: 100;
  font-style: normal;
  font-size: 12pt;
  color: red;
  text-align: center;
}

#textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 700px;
}

#maincontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}

a {
  color: red;
}

a:hover {
  color: black;
}

#igcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.website1 {
  padding: 0px 0px 10px 0px;
}

#maincontainer {
  padding: 0px 0px 5px 0px;
}
